{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1>bienvenue sur mon projet Cloud</h1>
     <p><strong>Al Ali</strong> </p>
     <P> <strong >Maan</strong> </P>
    
    <p> Date : {{ "now"|date("d/m/Y H:i") }} </p>
 
{% endblock %}
