{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1>bienvenue sur mon projet Cloud</h1>
     <p>AL ALI </p>
     <P>MAAN</P>
    
    <p> Date : {{ "now"|date("d/m/Y H:i") }} </p>
{% endblock %}
