{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1>bienvenue sur mon projet Cloud</h1>
    <strong> Al ali MAAN </strong>
    {# affichier la date du jour #}
    <p> {{ "now"|date("d/m/Y H:i") }} </p>
{% endblock %}
